<!DOCTYPE html>
<html>
<head>
<title>Clinical Prime Note</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<style>
.tile{
	margin-left:45px;
	height:90px;
	background-color:white-smoke;
	color:gray;
	border-left: 3px solid green;
	box-shadow: 8px 15px 5px Gainsboro;
}
.h4{
	float:right;
	margin-top:15px;
}
.img{
	height:60px;
	width:60px;
	float:left;
	margin-top:15px;
	border: 3px solid Gainsboro;"
}
.abc:hover{
		background-color: #11114e;
		box-shadow: 5px 10px 5px #7fff00;

}
</style>

</head>
<!--....Dashboard header with logo and Pandas Profile Report.....-->

   <body style="background-color:#f0f0f0">

   <script type="text/javascript">

        $(document).ready( function () {
             alert("Welcome to Resume Segmentation Process")
         } );

    </script>

 		<div style="width:100%; height:20px; background-color:#0066CC; float:left"></div>
     <div class="", style="height:100px;width:100%; background-color:white; float:left">
			
				<img src="/static/extravis.png" style="height:70px; float:left;"/>	
				
                <a class="navbar-brand"  style="color:#66CC00;margin-left:20px;margin-top:12px;font-size:22px; text-shadow: 2px 1px 1px #11114e; float:left">Human Free Recruitment System</a>
					<div style="width:100%; height:6px; background-color:#4C9900; float:left"></div>
				<div style="width:100%; height:5px; background-color:#11114e; float:left"></div>				

		</div>		

		

    

    <p><br/></p>
	
   </br>
   </br>
	
   
   </br>
   </br>
   <div class="col-md-12">
   </br>
   </br>
  
   <div class="col-md-2"></div>
     
   <div class="form-group col-md-8 ">
	<h3>Please enter the folder path to read files</h3>
      <form action = "/Resume_segmentation" method = "POST">
         <textarea type = "text" rows="3",col="150" class="form-control" name = "Name" style="margin-left:0px">
		 </textarea>
		 </br>
		 </br>
	<h3>Please enter the skills to extract resumes Like(Data Science, Data Analyst, Cisco) </h3>
		<textarea type = "text" rows="3",col="150" class="form-control" name = "Skill" style="margin-left:0px">
		 </textarea>
	 </br>
		 </br>
         <p><input  class="btn btn-primary" type = "submit" value = "Submit Request" style="margin-left:40px" /></p>
      </form>
	 </div>

</div>

   </body>

</div>
</html>


</html>